h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

body { 
    text-align: center;
}

html {
  font-size:62.5%;
  font-family: 'Roboto', sans-serif;
}

.MuiButton-root { 
  color: #ffffff;
  border-color: #ffffff;
}
